:root {
    --card-height: 23.25vh;
    --gap-height: 4.5vh;
}

.cards {
    height: 100vh;
    position: relative;
    margin-right: 7rem;
}

.cards > img {
    height: 100%;
    display: block;
}

.card {
    position: absolute;
    right: 0;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.075);
    background-size: auto var(--card-height);
    background-repeat: no-repeat;
    height: var(--card-height);
    aspect-ratio: 447 / 245;
}

#front {
    transform: translate(30%, 0);
    top: calc((100vh - var(--gap-height)) / 2 - var(--card-height));
    background-image: url("../assets/images/bg-card-front.png");
    padding: 1.2rem 1.3rem;
    display: grid;
    grid-template-rows: 2fr 1fr 0.75fr;
    grid-template-columns: auto 1fr auto;
    place-items: center;
}

#back {
    transform: translate(50%, 0);
    bottom: calc((100vh - var(--gap-height)) / 2 - var(--card-height));
    background-image: url("../assets/images/bg-card-back.png");
    display: grid;
    justify-items: end;
    align-items: center;
    padding-inline: 2.5rem;
}

#logo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    place-self: start;
    height: 50%
}

p#card-number {
    grid-row: 2;
    grid-column: 1 / -1;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    justify-self: start;
}

.small {
    font-size: 0.7rem;
    letter-spacing: 0.075rem;
    font-weight: 400;
}

p#full-name {
    grid-row: 3;
    grid-column: 1;
    align-self: end;
}

p#exp-date {
    grid-row: 3;
    grid-column: 3;
    align-self: end;
}

p#cvc {
    transform: translateY(-10%);
}
