:root {
  --light-gradient: hsl(249, 99%, 64%);
  --dark-gradient: hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-gray-violet: hsl(270, 3%, 87%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --dark-violet: hsl(278, 68%, 11%);
}

@font-face {
  font-family: SpaceGrotesk;
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

* {
  font-family: SpaceGrotesk;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}

.App > img {
  height: 100vh;
}
